/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
* NOTE: Removed some auto converted grid styles
*/

/* 
TABLE OF CONTENT
	1. CSS reset
	2. AS PER PROJECT CSS RESET
	3. UTILS
	4. SKIP LINKS
	5. NAVIGATION
		5.1. NAVIGATION TOGGLE
		5.2. NAVIGATION MENU
		5.3. NAVIGATION TITLE
	6. CARD
		6.1. CARD VARIANTS
		6.2. CARD INTERACTIVITY
		6.3. CARD GRAPHICS
	7. SVGS
		7.1. BURGER
		7.2. SALAD
		7.3. MEAL
	8. ASIDE
	9. FOOTER
	10. RESPONSIVE
	11. ANIMATION
	12. ACCESSIBILITY
	13. BONUS
*/

/*
  1. CSS reset
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

* {
	margin: 0;
}

html,
body {
	height: 100%;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

/* 2. AS PER PROJECT CSS RESET */

html {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

	/* color-scheme: dark light; */

	/* direction: rtl; */
	/* writing-mode: vertical-rl; */
	/* writing-mode: vertical-lr; */
	/* text-orientation: upright; */
}

@supports (scroll-behavior: smooth) and (scroll-padding-block-start: 1px) {
	html {
		scroll-behavior: smooth;
		scroll-padding-block-start: 7.25rem;
	}
}

svg {
	width: 1em;
	height: 1em;
	fill: currentColor;
}

* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-moz-tap-highlight-color: rgba(0, 0, 0, 0);
}

*::-moz-focus-inner {
	border: 0;
}

body {
	--bg-color: var(--bg);
	--text-color: var(--color);
	--card-bg: var(--bg-card);

	background-color: var(--bg-color);
	color: var(--text-color);
	overflow-x: hidden;
}

main {
	padding: 1.5em;
	margin: -1.5em;
	position: relative;
}

footer,
nav {
	-ms-grid-column: 1;
	-ms-grid-column-span: 1;
	grid-column: 1 / 2;
	padding: 3em 0;
}

a {
	color: var(--text-color);
	text-decoration: none;
}

/* 3. UTILS */
.container {
	inline-size: clamp(1px, 100%, var(--container-max-w));
	margin-inline: auto;
	padding-inline: 1.5em;
}

.wrapper-grid {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr;
	grid-template-columns: 1fr;
	-ms-grid-rows: auto 1.5em auto 1.5em 1fr 1.5em auto;
	grid-template-rows: auto auto 1fr auto;
	min-height: 100%;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: start;
	gap: 1.5em;
}

.grid {
	display: -ms-grid;
	display: grid;
	gap: 1.5em;
	-ms-grid-columns: 1fr;
	grid-template-columns: 1fr;
	grid-auto-flow: row dense;
}

.span--2 {
	-ms-grid-column-span: 1;
	grid-column: span 1;
}

.outline--none {
	outline: none;
}

/* 4. SKIP LINKS */

a[data-skip] {
	background-color: var(--color);
	border-end-end-radius: var(--radius);
	color: var(--bg-card);
	font-size: 1rem;
	font-weight: bold;
	inset-block-start: 0;
	inset-inline-start: 0;
	outline: none;
	padding: 1em;
	position: fixed;
	-webkit-transform: translateY(-110vmax);
	-ms-transform: translateY(-110vmax);
	transform: translateY(-110vmax);
	-webkit-transition: -webkit-transform var(--transition);
	transition: -webkit-transform var(--transition);
	-o-transition: transform var(--transition);
	transition: transform var(--transition);
	transition: transform var(--transition), -webkit-transform var(--transition);
	z-index: 99;
}
a[data-skip]:focus-visible {
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
}
a[data-skip]:is(:focus, :hover) {
	outline: 0.2em solid var(--color);
	outline-offset: 0.2em;
}

/* 5. NAVIGATION */
nav {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

/* 5.1. NAVIGATION TOGGLE */
#menu-toggle {
	block-size: 0;
	inline-size: 0;
	opacity: 0;
	pointer-events: none;
	position: absolute;
}
#menu-toggle + label {
	background-color: var(--bg-card);
	block-size: 2.5em;
	border-radius: var(--radius-full);
	cursor: pointer;
	display: block;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	font-size: var(--fsize-lg);
	inline-size: 2.5em;
	position: relative;
	-webkit-transition: background-color var(--transition);
	-o-transition: background-color var(--transition);
	transition: background-color var(--transition);
	z-index: 4;
}
#menu-toggle + label span {
	opacity: 0;
	pointer-events: none;
	position: absolute;
	visibility: collapse;
}
#menu-toggle:focus-visible + label {
	outline: 0.15em solid var(--color);
}
#menu-toggle:checked + label,
#menu-toggle + label:is(:hover, :focus) {
	-webkit-box-shadow: var(--shadow-clone);
	box-shadow: var(--shadow-clone);
	background-color: var(--bg);
	color: var(--primary-500);
}
#menu-toggle + label svg {
	inset-block-start: 50%;
	inset-inline-start: 50%;
	position: absolute;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transition: opacity var(--transition);
	-o-transition: opacity var(--transition);
	transition: opacity var(--transition);
}
html[dir="rtl"] #menu-toggle + label svg {
	-webkit-transform: translate(50%, -50%);
	-ms-transform: translate(50%, -50%);
	transform: translate(50%, -50%);
}
#menu-toggle + label .menu__opened {
	opacity: 0;
}
#menu-toggle + label .menu__closed {
	opacity: 1;
}
#menu-toggle:checked + label .menu__opened {
	opacity: 1;
}
#menu-toggle:checked + label .menu__closed {
	opacity: 0;
}

/* 5.2. NAVIGATION MENU */
#menu-toggle:checked ~ ul[data-dropdown] {
	pointer-events: all;
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
	-webkit-transition: visibility var(--transition) 0s, -webkit-transform var(--transition);
	transition: visibility var(--transition) 0s, -webkit-transform var(--transition);
	-o-transition: transform var(--transition), visibility var(--transition) 0s;
	transition: transform var(--transition), visibility var(--transition) 0s;
	transition: transform var(--transition), visibility var(--transition) 0s, -webkit-transform var(--transition);
	visibility: visible;
	will-change: transform;
}
ul[data-dropdown] {
	background-color: var(--bg-card);
	block-size: 100%;
	font-size: 1.5rem;
	inset: 0;
	list-style-type: none;
	overflow-y: auto;
	-ms-scroll-chaining: none;
	overscroll-behavior: contain;
	padding-block: 5em;
	-webkit-padding-end: 4em;
	padding-inline-end: 4em;
	-webkit-padding-start: 1em;
	padding-inline-start: 1em;
	pointer-events: none;
	position: fixed;
	transform: translateX(110%) translateZ(0);
	-webkit-transform: translateX(110%) translateZ(0);
	-webkit-transition: visibility var(--transition) var(--trans-mid), -webkit-transform var(--trans-slow) var(--trans-ease);
	transition: visibility var(--transition) var(--trans-mid), -webkit-transform var(--trans-slow) var(--trans-ease);
	-o-transition: transform var(--trans-slow) var(--trans-ease), visibility var(--transition) var(--trans-mid);
	transition: transform var(--trans-slow) var(--trans-ease), visibility var(--transition) var(--trans-mid);
	transition: transform var(--trans-slow) var(--trans-ease), visibility var(--transition) var(--trans-mid),
		-webkit-transform var(--trans-slow) var(--trans-ease);
	visibility: hidden;
	z-index: 3;
}
/* :empty selector if no content inside */
ul[data-dropdown] li a:not([data-skip]):first-child:nth-last-child(n + 2)::before {
	content: "+ ";
	font-weight: bolder;
}
ul[data-dropdown] a:not([data-skip]) {
	border-radius: var(--radius-sm);
	display: block;
	outline: none;
	padding: 0.5em 1em;
	-webkit-transition: background-color var(--transition-fast);
	-o-transition: background-color var(--transition-fast);
	transition: background-color var(--transition-fast);
	white-space: nowrap;
}
ul[data-dropdown] a:not([data-skip]):is(:hover, :focus, :focus-visible) {
	background-color: var(--bg);
	color: var(--primary-500);
}
ul[data-dropdown] li > ul {
	-webkit-box-shadow: -0.2em 0 0 -0.1em var(--color);
	box-shadow: -0.2em 0 0 -0.1em var(--color);
	display: -ms-grid;
	display: grid;
	gap: 0.25em;
	list-style-type: none;
	margin-block: 0.5em;
	-webkit-margin-start: 1.25em;
	margin-inline-start: 1.25em;
	-webkit-padding-start: 0.25em;
	padding-inline-start: 0.25em;
}
html[dir="rtl"] ul[data-dropdown] li > ul {
	-webkit-box-shadow: 0.2em 0 0 -0.1em var(--color);
	box-shadow: 0.2em 0 0 -0.1em var(--color);
}

/* 5.3. NAVIGATION TITLE */
.title * {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	font-size: calc(var(--fsize-xl) * 1.25);
	letter-spacing: 0.05em;
	line-height: 1.1;
	position: relative;
}
.title *::after {
	background-image: -webkit-gradient(
		linear,
		left top,
		right top,
		from(rgba(131, 58, 180, 1)),
		color-stop(50%, rgba(253, 29, 29, 1)),
		to(rgba(252, 176, 69, 1))
	);
	background-image: -o-linear-gradient(left, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
	background-image: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
	background-position: bottom left;
	background-repeat: no-repeat;
	background-size: 0% 100%;
	border-radius: var(--radius);
	content: attr(data-motto);
	font-size: calc(var(--fsize-sm) / 4);
	font-weight: 900;
	line-height: 1.4;
	-webkit-margin-before: 1em;
	margin-block-start: 1em;
	-webkit-padding-start: 1em;
	padding-inline-start: 1em;
	text-transform: uppercase;
	-webkit-transition: background-size var(--transition), color var(--transition);
	-o-transition: background-size var(--transition), color var(--transition);
	transition: background-size var(--transition), color var(--transition);
}
.title:focus * {
	-webkit-text-decoration-line: underline;
	text-decoration-line: underline;
}
.title:is(:hover, :focus-visible) *::after {
	color: white;
	background-size: 100% 100%;
}

/* 6. CARD */
.card {
	--accent-color: hsl(var(--accent-hue), var(--accent-saturation), 37.5%);
	--icon-bg-color: hsla(var(--accent-hue), var(--accent-saturation), 37.5%, 0.25);
	--icon-size: var(--fsize-xl);
	--accent-shadow: var(--accent-shadow-clone);
	--accent-path: hsla(var(--accent-hue), var(--accent-saturation), var(--accent-brightness), var(--path-opacity));

	background-color: var(--card-bg);
	border-radius: var(--radius);
	cursor: pointer;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	isolation: isolate;
	outline: none;
	position: relative;
	-webkit-transform-origin: bottom;
	-ms-transform-origin: bottom;
	transform-origin: bottom;
	-webkit-transition: -webkit-transform var(--transition-elastic);
	transition: -webkit-transform var(--transition-elastic);
	-o-transition: transform var(--transition-elastic);
	transition: transform var(--transition-elastic);
	transition: transform var(--transition-elastic), -webkit-transform var(--transition-elastic);
}
.card::before,
.card::after {
	border-radius: var(--radius);
	content: "";
	inset: 0;
	pointer-events: none;
	position: absolute;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.card::before {
	-webkit-box-shadow: var(--accent-shadow);
	box-shadow: var(--accent-shadow);
	z-index: -2;
}
.card::after {
	background-color: var(--accent-path);
	-webkit-clip-path: circle(70% at 100% 100%);
	clip-path: circle(70% at 100% 100%);
	overflow: hidden;
	-webkit-transition: -webkit-clip-path var(--transition-elastic);
	transition: -webkit-clip-path var(--transition-elastic);
	-o-transition: clip-path var(--transition-elastic);
	transition: clip-path var(--transition-elastic);
	transition: clip-path var(--transition-elastic), -webkit-clip-path var(--transition-elastic);
	z-index: -1;
}
html[dir="rtl"] .card::after {
	-webkit-clip-path: circle(70% at 0% 100%);
	clip-path: circle(70% at 0% 100%);
}
.card__header {
	padding: 2em;
	-webkit-transition: opacity var(--transition-elastic);
	-o-transition: opacity var(--transition-elastic);
	transition: opacity var(--transition-elastic);
}
.card__heading {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.card__icon {
	color: var(--accent-color);
	-ms-flex-negative: 0;
	flex-shrink: 0;
	font-size: var(--icon-size);
	padding: 0.375em;
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.card__icon::before {
	background-color: var(--icon-bg-color);
	border-radius: var(--radius-full);
	content: "";
	inset: 0;
	position: absolute;
}
.card__sub-title {
	color: var(--accent-color);
	font-size: var(--fsize-lg);
	font-weight: bold;
	-webkit-margin-start: 0.5em;
	margin-inline-start: 0.5em;
	text-transform: uppercase;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.card__title {
	font-size: var(--fsize-xl);
	line-height: 1.2;
	-webkit-margin-before: 0.75em;
	margin-block-start: 0.75em;
}
.card__body {
	position: relative;
}
.card__body::before {
	background-color: var(--primary-700);
	block-size: 5rem;
	border-radius: 50%;
	content: "";
	-webkit-filter: blur(0.75rem);
	filter: blur(0.75rem);
	inline-size: 12.5rem;
	inset-block-start: 50%;
	inset-inline-start: 50%;
	opacity: 0;
	position: absolute;
	-webkit-transform: translate(-35%, 150%) rotateZ(-5deg);
	-ms-transform: translate(-35%, 150%) rotate(-5deg);
	transform: translate(-35%, 150%) rotateZ(-5deg);
	-webkit-transition: opacity var(--transition-elastic);
	-o-transition: opacity var(--transition-elastic);
	transition: opacity var(--transition-elastic);
}
.card__body svg {
	max-block-size: 25em;
	pointer-events: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* 6.1. CARD VARIANTS */
.card--secondary {
	--accent-color: hsl(var(--secondary-accent-hue), var(--secondary-accent-saturation), 60%);
	--icon-bg-color: hsla(var(--secondary-accent-hue), var(--secondary-accent-saturation), 60%, 0.15);
	--icon-size: var(--fsize-xl);
	--accent-shadow: var(--secondary-shadow-clone);
	--accent-path: hsla(
		var(--secondary-accent-hue),
		var(--secondary-accent-saturation),
		var(--secondary-accent-brightness),
		var(--path-opacity)
	);
}
.card--tertiary {
	--accent-color: hsl(var(--tertiary-accent-hue), var(--tertiary-accent-saturation), 37.5%);
	--icon-bg-color: hsla(var(--tertiary-accent-hue), var(--tertiary-accent-saturation), 45%, 0.15);
	--icon-size: var(--fsize-xl);
	--accent-shadow: var(--tertiary-shadow-clone);
	--accent-path: hsla(
		var(--tertiary-accent-hue),
		var(--tertiary-accent-saturation),
		var(--tertiary-accent-brightness),
		var(--path-opacity)
	);
}

/* 6.2. CARD INTERACTIVITY */
.grid__item {
	border-radius: var(--radius);
	-webkit-transition: -webkit-transform var(--transition-fast-elastic);
	transition: -webkit-transform var(--transition-fast-elastic);
	-o-transition: transform var(--transition-fast-elastic);
	transition: transform var(--transition-fast-elastic);
	transition: transform var(--transition-fast-elastic), -webkit-transform var(--transition-fast-elastic);
	will-change: contents;
}
.grid__item:target {
	-webkit-animation-name: pulse;
	animation-name: pulse;
	-webkit-animation-duration: 1.5s;
	animation-duration: 1.5s;
	-webkit-animation-timing-function: var(--transition-elastic);
	animation-timing-function: var(--transition-elastic);
	-webkit-animation-delay: 0.25s;
	animation-delay: 0.25s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}
.grid__item:target:active {
	-webkit-animation-play-state: paused;
	animation-play-state: paused;
}
.grid__item:not(:target):active {
	-webkit-transform: scale(0.9);
	-ms-transform: scale(0.9);
	transform: scale(0.9);
}
.grid__item:is(:hover, :focus-visible) .card {
	-webkit-transform: rotateX(45deg) rotateZ(2.5deg);
	transform: rotateX(45deg) rotateZ(2.5deg);
}
.grid__item:is(:hover, :focus-visible) .card::after {
	-webkit-clip-path: circle(25% at 100% 100%);
	clip-path: circle(25% at 100% 100%);
}
html[dir="rtl"] .grid__item:is(:hover, :focus-visible) .card::after {
	-webkit-clip-path: circle(25% at 0% 100%);
	clip-path: circle(25% at 0% 100%);
}
.grid__item:is(:hover, :focus-visible) .card__header {
	opacity: 0.25;
}
.grid__item:is(:hover, :focus-visible) .card__body::before {
	opacity: 0.25;
}

/* 6.3. CARD GRAPHICS */
.card :is(.burger, .salad, .meal) {
	-webkit-transition: -webkit-transform var(--transition-elastic), -webkit-filter var(--transition-elastic);
	transition: -webkit-transform var(--transition-elastic), -webkit-filter var(--transition-elastic);
	-o-transition: transform var(--transition-elastic), filter var(--transition-elastic);
	transition: transform var(--transition-elastic), filter var(--transition-elastic);
	transition: transform var(--transition-elastic), filter var(--transition-elastic), -webkit-transform var(--transition-elastic),
		-webkit-filter var(--transition-elastic);
	-webkit-transform: scale(1.25);
	-ms-transform: scale(1.25);
	transform: scale(1.25);
}

.grid__item:is(:hover, :focus-visible) :is(.burger, .salad, .meal) {
	-webkit-filter: drop-shadow(0 0 1.5rem hsla(var(--primary-hue), var(--primary-saturation), 30%, 0.25));
	filter: drop-shadow(0 0 1.5rem hsla(var(--primary-hue), var(--primary-saturation), 30%, 0.25));
	-webkit-transform: scale(1.5) scaleY(1.5) translateY(-25%);
	-ms-transform: scale(1.5) scaleY(1.5) translateY(-25%);
	transform: scale(1.5) scaleY(1.5) translateY(-25%);
}

/* 7. SVGS */

:is(.burger, .salad, .meal) {
	block-size: auto;
	inline-size: 100%;
	margin-inline: auto;
}
:is(.burger, .salad, .meal) * {
	-webkit-transition: -webkit-transform var(--transition-elastic);
	transition: -webkit-transform var(--transition-elastic);
	-o-transition: transform var(--transition-elastic);
	transition: transform var(--transition-elastic);
	transition: transform var(--transition-elastic), -webkit-transform var(--transition-elastic);
}

/* 7.1. BURGER */
.grid__item:is(:hover, :focus-visible) .burger > * {
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	transform: translate(0, 0);
}

/* 7.2. SALAD */
.grid__item:is(:hover, :focus-visible) .salad > *#lettuce-b {
	-webkit-transform: translate(5%, -25%) rotateZ(15deg);
	-ms-transform: translate(5%, -25%) rotate(15deg);
	transform: translate(5%, -25%) rotateZ(15deg);
}
.grid__item:is(:hover, :focus-visible) .salad > *#onion-d {
	-webkit-transform: translate(10%, -20%) skewX(-15deg);
	-ms-transform: translate(10%, -20%) skewX(-15deg);
	transform: translate(10%, -20%) skewX(-15deg);
}
.grid__item:is(:hover, :focus-visible) .salad > *#tomato-e {
	-webkit-transform: translate(10%, -10%) skewY(-5deg);
	-ms-transform: translate(10%, -10%) skewY(-5deg);
	transform: translate(10%, -10%) skewY(-5deg);
}
.grid__item:is(:hover, :focus-visible) .salad > *#tomato-d {
	-webkit-transform: translate(-10%, -20%) rotateZ(10deg);
	-ms-transform: translate(-10%, -20%) rotate(10deg);
	transform: translate(-10%, -20%) rotateZ(10deg);
}
.grid__item:is(:hover, :focus-visible) .salad > *#lettuce-a {
	-webkit-transform: translate(0, 10%) rotateZ(-15deg);
	-ms-transform: translate(0, 10%) rotate(-15deg);
	transform: translate(0, 10%) rotateZ(-15deg);
}
.grid__item:is(:hover, :focus-visible) .salad > *#tomato-b {
	-webkit-transform: translate(5%, -30%) skewY(25deg);
	-ms-transform: translate(5%, -30%) skewY(25deg);
	transform: translate(5%, -30%) skewY(25deg);
}
.grid__item:is(:hover, :focus-visible) .salad > *#onion-c {
	-webkit-transform: translate(5%, -10%) rotateZ(-5deg);
	-ms-transform: translate(5%, -10%) rotate(-5deg);
	transform: translate(5%, -10%) rotateZ(-5deg);
}
.grid__item:is(:hover, :focus-visible) .salad > *#tomato-a {
	-webkit-transform: translate(0, 17.5%) rotateZ(-20deg);
	-ms-transform: translate(0, 17.5%) rotate(-20deg);
	transform: translate(0, 17.5%) rotateZ(-20deg);
}
.grid__item:is(:hover, :focus-visible) .salad > *#onion-b {
	-webkit-transform: translate(10%, -24.5%) rotateZ(30deg);
	-ms-transform: translate(10%, -24.5%) rotate(30deg);
	transform: translate(10%, -24.5%) rotateZ(30deg);
}
.grid__item:is(:hover, :focus-visible) .salad > *#onion-a {
	-webkit-transform: translate(55%, -20%) rotateZ(40deg);
	-ms-transform: translate(55%, -20%) rotate(40deg);
	transform: translate(55%, -20%) rotateZ(40deg);
}

/* 7.3. MEAL */
.grid__item:is(:hover, :focus-visible) .meal #menu-cup-cap {
	-webkit-transform: translate(2.5%, -10%) rotateZ(5deg);
	-ms-transform: translate(2.5%, -10%) rotate(5deg);
	transform: translate(2.5%, -10%) rotateZ(5deg);
}
.grid__item:is(:hover, :focus-visible) .meal #menu-top-bun {
	-webkit-transform: translate(-5%, -8%) rotateZ(-5deg);
	-ms-transform: translate(-5%, -8%) rotate(-5deg);
	transform: translate(-5%, -8%) rotateZ(-5deg);
}
.grid__item:is(:hover, :focus-visible) .meal :is(#menu-ketchup, #menu-patties, #menu-bottom-sauce) {
	-webkit-transform: translate(-4%, -4%) rotateZ(-4deg);
	-ms-transform: translate(-4%, -4%) rotate(-4deg);
	transform: translate(-4%, -4%) rotateZ(-4deg);
}

/* 8. ASIDE */
aside {
	background-color: var(--card-bg);
	border-radius: var(--radius);
	-webkit-box-shadow: var(--shadow-clone);
	box-shadow: var(--shadow-clone);
	-ms-grid-column: 1;
	grid-column: 1 / 1;
	-ms-grid-row: 2;
	-ms-grid-row-span: 1;
	grid-row: 2 / 3;
	inline-size: 100%;
	inset-block-start: -3em;
	overflow: hidden;
	position: sticky;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
[data-aside-title] {
	padding: 0.5em 1em;
}
aside ul:not([data-dropdown]) {
	counter-reset: list-numbers;

	display: -ms-grid;

	display: grid;
	gap: 1em;
	grid-auto-columns: -webkit-min-content;
	grid-auto-columns: min-content;
	grid-auto-flow: column;
	list-style-type: none;
	overflow-x: auto;
	overscroll-behavior-inline: contain;
	-webkit-padding-after: 1.5em;
	padding-block-end: 1.5em;
	-webkit-padding-before: 0.5em;
	padding-block-start: 0.5em;
	padding-inline: 1.5em;
	scroll-padding-inline: 1.5em;
	-ms-scroll-snap-type: inline mandatory;
	scroll-snap-type: inline mandatory;
}
aside ul:not([data-dropdown]) li a:not([data-skip]) {
	counter-increment: list-numbers;

	-webkit-box-align: center;

	-ms-flex-align: center;

	align-items: center;
	border-radius: var(--radius);
	-webkit-box-shadow: var(--shadow-clone);
	box-shadow: var(--shadow-clone);
	cursor: pointer;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-weight: bold;
	gap: 1em;
	inline-size: -webkit-max-content;
	inline-size: -moz-max-content;
	inline-size: max-content;
	outline: none;
	padding-block: 0.5em;
	-webkit-padding-end: 1em;
	padding-inline-end: 1em;
	-webkit-padding-start: 0.5em;
	padding-inline-start: 0.5em;
	scroll-snap-align: start;
	white-space: nowrap;
	-webkit-transition: color var(--transition-fast), background-color var(--transition-fast);
	-o-transition: color var(--transition-fast), background-color var(--transition-fast);
	transition: color var(--transition-fast), background-color var(--transition-fast);
}
aside ul:not([data-dropdown]) li a:not([data-skip])::before {
	border-radius: var(--radius-full);
	color: var(--tertiary-accent);
	content: "#" counter(list-numbers) " ";
	font-size: 1.5em;
	font-weight: bolder;
	padding-inline: 0.5em;
	-webkit-margin-end: -0.25em;
	margin-inline-end: -0.25em;
	-webkit-transition: color var(--transition-fast);
	-o-transition: color var(--transition-fast);
	transition: color var(--transition-fast);
}
aside ul:not([data-dropdown]) li a:not([data-skip]):is(:hover, :focus) {
	background-color: var(--tertiary-accent);
	color: black;
}
aside ul:not([data-dropdown]) li a:not([data-skip]):is(:hover, :focus)::before {
	color: black;
}
aside ul:not([data-dropdown]) li a:not([data-skip]):focus-visible {
	outline: 0.2em solid var(--color);
}

/* 9. FOOTER */
footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
footer #github-repo {
	font-size: var(--fsize-lg);
}

/* 10. ANIMATION */
@-webkit-keyframes pulse {
	0% {
		transform: scale(1) translateZ(0);
		-webkit-transform: scale(1) translateZ(0);
	}
	50% {
		transform: scale(0.95);
		-webkit-transform: scale(0.95) translateZ(0);
	}
}
@keyframes pulse {
	0% {
		transform: scale(1) translateZ(0);
		-webkit-transform: scale(1) translateZ(0);
	}
	50% {
		transform: scale(0.95);
		-webkit-transform: scale(0.95) translateZ(0);
	}
}

/* 11. RESPONSIVE */
@media (min-width: 1024px) {
	html {
		scroll-padding-block-start: 3em;
	}

	footer,
	nav {
		-ms-grid-column: 1;
		-ms-grid-column-span: 2;
		grid-column: 1 / 3;
	}

	main {
		padding: 3em;
		margin: -3em;
	}

	.container {
		padding-inline: 3em;
	}
	.wrapper-grid {
		-ms-grid-columns: 1fr 3em auto;
		grid-template-columns: 1fr auto;
		-ms-grid-rows: auto 3em 1fr 3em auto;
		grid-template-rows: auto 1fr auto;
		gap: 3em;
	}
	.grid {
		gap: 3em;
	}

	#menu-toggle {
		visibility: hidden;
	}
	#menu-toggle + label {
		display: none;
	}
	ul[data-dropdown] {
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		background-color: transparent;
		block-size: unset;
		display: -webkit-inline-box;
		display: -ms-inline-flexbox;
		display: inline-flex;
		gap: 0.5em;
		inset: unset;
		opacity: 1;
		overflow-y: visible;
		-ms-scroll-chaining: unset;
		overscroll-behavior: unset;
		padding: 0;
		pointer-events: all;
		position: static;
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
		-webkit-transition: opacity var(--transition);
		-o-transition: opacity var(--transition);
		transition: opacity var(--transition);
		visibility: visible;
	}
	ul[data-dropdown] a:not([data-skip]):is(:hover, :focus-visible) {
		background-color: var(--bg-card);
	}
	ul[data-dropdown] li {
		position: relative;
	}
	ul[data-dropdown] li > ul {
		background-color: var(--bg-card);
		border-radius: var(--radius-sm);
		-webkit-box-shadow: var(--shadow-clone);
		box-shadow: var(--shadow-clone);
		inset-block-start: calc(100% + 0.25em);
		inset-inline-start: -0.5em;
		margin: 0;
		opacity: 0;
		padding: 0.5em;
		position: absolute;
		-webkit-transform: scale(0);
		-ms-transform: scale(0);
		transform: scale(0);
		-webkit-transition-delay: 0.5s;
		-o-transition-delay: 0.5s;
		transition-delay: 0.5s;
	}
	ul[data-dropdown] li > ul ul {
		inset-block-start: 0;
		-webkit-transform: scale(0) translateX(-100%);
		-ms-transform: scale(0) translateX(-100%);
		transform: scale(0) translateX(-100%);
		-webkit-transition-delay: 0.5s;
		-o-transition-delay: 0.5s;
		transition-delay: 0.5s;
	}
	ul[data-dropdown] li:is(:focus-within, :hover) > ul {
		opacity: 1;
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
		-webkit-transition-delay: 0s;
		-o-transition-delay: 0s;
		transition-delay: 0s;
	}
	ul[data-dropdown] li:is(:focus-within, :hover) > ul ul {
		-webkit-transform: scale(1) translateX(-100%);
		-ms-transform: scale(1) translateX(-100%);
		transform: scale(1) translateX(-100%);
		-webkit-transition-delay: 0.15s;
		-o-transition-delay: 0.15s;
		transition-delay: 0.15s;
	}
	ul[data-dropdown] li > ul a:not([data-skip]):is(:hover, :focus-visible) {
		background-color: var(--bg);
	}
	html[dir="rtl"] ul[data-dropdown] li > ul {
		-webkit-box-shadow: var(--shadow-clone);
		box-shadow: var(--shadow-clone);
	}
	html[dir="rtl"] ul[data-dropdown] li ul ul {
		-webkit-transform: scale(0) translateX(100%);
		-ms-transform: scale(0) translateX(100%);
		transform: scale(0) translateX(100%);
	}
	html[dir="rtl"] ul[data-dropdown] li:is(:focus-within, :hover) > ul ul {
		-webkit-transform: scale(1) translateX(100%);
		-ms-transform: scale(1) translateX(100%);
		transform: scale(1) translateX(100%);
	}

	aside {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-ms-grid-column: 2;
		-ms-grid-column-span: 1;
		grid-column: 2 / 3;
		inline-size: 22.5rem;
		inset-block-start: 3rem;
		max-block-size: calc(100vh - 12rem);
		min-block-size: calc(9rem);
	}
	aside ul:not([data-dropdown]) {
		grid-auto-flow: row;
		grid-auto-rows: -webkit-min-content;
		grid-auto-rows: min-content;
		overflow-x: hidden;
		overflow-y: auto;
		overscroll-behavior-block: contain;
		padding-inline: 1.5em;
		scroll-padding-block: 0.5em;
		-ms-scroll-snap-type: block;
		scroll-snap-type: block;
	}
	aside ul:not([data-dropdown]) li {
		white-space: normal;
	}

	.title * {
		font-size: calc(var(--fsize-xl) * 2);
	}
}

@media (min-width: 1280px) {
	.span--2 {
		-ms-grid-column-span: 2;
		grid-column: span 2;
	}
	.grid {
		grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
	}
}

/* 12. ACCESSIBILITY */
@media (prefers-color-scheme: light) {
	aside ul:not([data-dropdown]) li a:not([data-skip])::before {
		color: var(--primary-700);
	}
}

@media print, screen and (pointer: coarse), (prefers-reduced-motion) {
	.grid__item:is(:hover, :focus-visible) .card {
		-webkit-transform: none;
		-ms-transform: none;
		transform: none;
	}
	.grid__item:is(:hover, :focus-visible) .card::after {
		-webkit-clip-path: circle(25% at 100% 100%);
		clip-path: circle(25% at 100% 100%);
	}
	.grid__item:is(:hover, :focus-visible) .card__header {
		opacity: 0.25;
	}
	.grid__item:is(:hover, :focus-visible) .card__body::before {
		opacity: 0;
	}
	.grid__item:is(:hover, :focus-visible) :is(.burger, .salad, .meal) {
		-webkit-filter: drop-shadow(0 0 1.5rem hsla(var(--primary-hue), var(--primary-saturation), 30%, 0.25));
		filter: drop-shadow(0 0 1.5rem hsla(var(--primary-hue), var(--primary-saturation), 30%, 0.25));
		-webkit-transform: scale(1.5) translateY(-10%);
		-ms-transform: scale(1.5) translateY(-10%);
		transform: scale(1.5) translateY(-10%);
	}

	/* BURGER */
	.burger > * {
		-webkit-transform: translate(0, 0);
		-ms-transform: translate(0, 0);
		transform: translate(0, 0);
	}

	/* SALAD */
	.salad > *#lettuce-b {
		-webkit-transform: translate(5%, -25%) rotateZ(15deg);
		-ms-transform: translate(5%, -25%) rotate(15deg);
		transform: translate(5%, -25%) rotateZ(15deg);
	}
	.salad > *#onion-d {
		-webkit-transform: translate(10%, -20%) skewX(-15deg);
		-ms-transform: translate(10%, -20%) skewX(-15deg);
		transform: translate(10%, -20%) skewX(-15deg);
	}
	.salad > *#tomato-e {
		-webkit-transform: translate(10%, -10%) skewY(-5deg);
		-ms-transform: translate(10%, -10%) skewY(-5deg);
		transform: translate(10%, -10%) skewY(-5deg);
	}
	.salad > *#tomato-d {
		-webkit-transform: translate(-10%, -20%) rotateZ(10deg);
		-ms-transform: translate(-10%, -20%) rotate(10deg);
		transform: translate(-10%, -20%) rotateZ(10deg);
	}
	.salad > *#lettuce-a {
		-webkit-transform: translate(0, 10%) rotateZ(-15deg);
		-ms-transform: translate(0, 10%) rotate(-15deg);
		transform: translate(0, 10%) rotateZ(-15deg);
	}
	.salad > *#tomato-b {
		-webkit-transform: translate(5%, -30%) skewY(25deg);
		-ms-transform: translate(5%, -30%) skewY(25deg);
		transform: translate(5%, -30%) skewY(25deg);
	}
	.salad > *#onion-c {
		-webkit-transform: translate(5%, -10%) rotateZ(-5deg);
		-ms-transform: translate(5%, -10%) rotate(-5deg);
		transform: translate(5%, -10%) rotateZ(-5deg);
	}
	.salad > *#tomato-a {
		-webkit-transform: translate(0, 17.5%) rotateZ(-20deg);
		-ms-transform: translate(0, 17.5%) rotate(-20deg);
		transform: translate(0, 17.5%) rotateZ(-20deg);
	}
	.salad > *#onion-b {
		-webkit-transform: translate(10%, -24.5%) rotateZ(30deg);
		-ms-transform: translate(10%, -24.5%) rotate(30deg);
		transform: translate(10%, -24.5%) rotateZ(30deg);
	}
	.salad > *#onion-a {
		-webkit-transform: translate(55%, -20%) rotateZ(40deg);
		-ms-transform: translate(55%, -20%) rotate(40deg);
		transform: translate(55%, -20%) rotateZ(40deg);
	}

	/* MEAL */
	.meal #menu-cup-cap {
		-webkit-transform: translate(2.5%, -10%) rotateZ(5deg);
		-ms-transform: translate(2.5%, -10%) rotate(5deg);
		transform: translate(2.5%, -10%) rotateZ(5deg);
	}
	.meal #menu-top-bun {
		-webkit-transform: translate(-5%, -8%) rotateZ(-5deg);
		-ms-transform: translate(-5%, -8%) rotate(-5deg);
		transform: translate(-5%, -8%) rotateZ(-5deg);
	}
	.meal :is(#menu-ketchup, #menu-patties, #menu-bottom-sauce) {
		-webkit-transform: translate(-4%, -4%) rotateZ(-4deg);
		-ms-transform: translate(-4%, -4%) rotate(-4deg);
		transform: translate(-4%, -4%) rotateZ(-4deg);
	}
}

@media (prefers-reduced-motion) {
	.grid__item:target {
		-webkit-animation: none;
		animation: none;
		outline-style: solid;
		outline-offset: 0.75em;
		outline-color: var(--color);
		outline-width: 0.25em;
	}
	.grid__item:not(:target):active {
		-webkit-transform: none;
		-ms-transform: none;
		transform: none;
	}
}

@media print, screen and (pointer: coarse) {
	.card {
		overflow: hidden;
	}
	.card__body svg {
		max-block-size: 10em;
	}
}

@media print {
	nav,
	aside,
	footer {
		display: none;
	}

	.grid {
		-ms-grid-columns: 1fr;
		grid-template-columns: 1fr;
	}
	.container {
		inline-size: 100%;
	}
}

/* 13. BONUS */
@media (pointer: fine) {
	.scrollbar {
		--scrollbar-size: 1rem;
		--scrollbar-track-color: var(--color);
		--scrollbar-thumb-color: var(--bg-card);
		--scrollbar-thumb-hover-color: var(--primary-700);
	}
	:is(.scrollbar, .scrollbar *)::-webkit-scrollbar {
		inline-size: var(--scrollbar-size);
		block-size: var(--scrollbar-size);
	}
	:is(.scrollbar, .scrollbar *)::-webkit-scrollbar-track {
		background-color: var(--scrollbar-track-color);
	}
	:is(.scrollbar, .scrollbar *)::-webkit-scrollbar-thumb {
		background-color: var(--scrollbar-thumb-color);
		border-radius: var(--radius-full);
		border: calc(var(--scrollbar-size) * 0.25) solid var(--scrollbar-track-color);
	}
	:is(.scrollbar, .scrollbar *)::-webkit-scrollbar-thumb:vertical:hover {
		background-color: var(--scrollbar-thumb-hover-color);
	}
	:is(.scrollbar, .scrollbar *)::-webkit-scrollbar-thumb:horizontal:hover {
		background-color: var(--scrollbar-thumb-hover-color);
	}
	:is(.scrollbar, .scrollbar *)::-webkit-scrollbar-corner {
		background-color: var(--scrollbar-track-color);
	}
	:is(.scrollbar, .scrollbar *) {
		scrollbar-width: thin;
		scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);
	}
}
